

	.finalPlayerOuterContainer{
		position:relative;
		width:900px;
		
		box-sizing: border-box;
		height:650px;
		.scoreboardEndContainer{
			z-index: 1000000000;
			background:rgba(255,255,255,0.5);
			position:absolute;
			top:0;
			left:0;
			bottom:0;
			display: flex;
			align-items:center;
			justify-content: center;
			right:0;
		}
		.finalPlayerInnerContainer{
			width:33%;
			
			position: absolute;
			top:0;
			left:0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			transition: all 1s ease!important;
			.score{
				opacity:0.65;
				color:#000;
				font-size:30px;
				text-align: center;
				display: inline-block;

			}
			.position{
				display: inline-block;
				color:#000;
				font-size:30px;
				// margin-left:-60px;
				text-align: center;

			}

		}


	}
