.buttonContainer{
	background:#4285F4;
	height:50px;
	padding:0 55px;
	display: inline-block;
	border-radius: 25px;
	align-items: center;
	justify-content: center;
	pointer-events:auto;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
	cursor:pointer;
	&.danger{
		width:100%;
		display: flex;
		margin-top:30px;
		align-items:center;
		background:#DB4437;
	}
	&.help{
		background:#0F9D58;
		width:100%;
		display: flex;
		margin-top:30px;
		align-items:center;
	}
	p{
		margin-top:-2px;
		line-height: 50px;
		font-weight: bold;
		font-size: 20px;
		color:#fff;
	}
}