.hostHintContainer{
			padding-right:300px;
			box-sizing:border-box;
			overflow: hidden;
			position: relative;
			height:50px;
			opacity:0;
			transition: transform 0.3s ease, opacity 0.3s ease 0.1s;
			transform: translateX(-50px);
			&.isVisible{
				opacity:1;
				transform: translateX(0px);
			}
			
			.answerScoreContainer{
				position: absolute;
				right:0px;
				top:0px;
				bottom:0;
				align-items: center;
				padding-right:20px;
				transition:all 0.3s ease;
				padding-left:30px;
				display: flex;
				flex-direction: row;
				background: linear-gradient(to right, #ffffff00, #ffffffff,#ffffffff,#ffffffff,#ffffffff);
				.answerScore{
					color:#676767;
					opacity: 0.5;
					font-size: 30px;
					min-width:100px;
					text-align: right;
					
				}
				.playerInAnswer{
					margin-right:15px;
					color:#676767;
					opacity: 1;
					font-size: 30px;
				}
				
			}
			&.offsetRight{
				.answerScoreContainer{
					// padding-right:260px;
				}
			}
			display: block;
			flex-direction: row;
			padding:0px 20px 10px 20px;
			background:#fff;
			&.grey{
				background:#f2f2f2;
				.answerScoreContainer{
				background: linear-gradient(to right, #f2f2f200, #f2f2f2ff,#f2f2f2ff,#f2f2f2ff,#f2f2f2ff);

				}
			}
			
			/* margin:3px 0px; */
			.revealedAnswer{
				/* width:100000px; */
				display: inline-block;
				font-size: 30px;
				margin-right:4px;
				max-height:30px;

				padding:5px;
				line-height: 40px;
				color:#676767;
				letter-spacing: 2px;
				.undiscovered{
					color:#DB4437
				}
			}
			.hintLetter{

				border-bottom:2px solid black;
				height:30px;
				display: inline-block;
				font-size: 30px;
				margin-right:15px;
				line-height: 30px;
				padding:5px;
				width:15px;
				
				margin-bottom:-4px;
				color:#676767;
				&.noBorder{

					margin-bottom:0;
					border-bottom:none;
				}
				&.space{
					margin-bottom:0;
					border-bottom:none;
					margin: 0px 3px;
				}
			}
		}

		.playerInAnswer{
		font-size:30px;
		color:#000;
	}
	