.questionContainer{
	display: flex;
	flex-direction: column;
	width:100%;
	flex:1;
	/* max-width:600px; */
	/* background:red; */
	/* margin:auto; */
	position: absolute;
	top:0px;
	bottom:0px;
	left:0;
	padding:0px 20px 50px 20px;
	/* max-width: 70vw; */
	align-items: center;
	justify-content: center;
	z-index: 100000;
	.questionShadowContainer{
		margin-top:25px;
		width:50vw;
		box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
		border-radius: 30px;
		padding-bottom:30px;
		background:white;

	}
		.questionInnerContainer{
			background:white;
			width:100%;
			display: flex;
			align-items: center;
			height:60px;
			/* margin:20px 0 0 0; */
			border-radius: 30px 30px 0 0;
			text-align: center!important;
			position: relative;
			padding:20px;
			.question{
				color:#000;
				font-weight: extra-light!important;
				font-size:30px;
			}
			.underline{
				position: absolute;
				bottom:0;
				left:20px;
				right:20px;
				height:1px;
				background:#f2f2f2;
			}
		}
	
	.hostHintsContainer{
		
		z-index: 100;
		display: flex;
		flex:1;
		flex-direction: column;
		.hostHintContainer{
			padding:0 20px;
			display: block;
			flex-direction: row;
			padding:5px 20px;
			&.grey{
				background:#f2f2f2;
			}
			/* margin:3px 0px; */
			.revealedAnswer{
				display: inline-block;
				font-size: 30px;
				margin-right:4px;
				height:30px;
				padding:5px;
				line-height: 30px;

				color:#676767;
				.undiscovered{
					color:#DB4437
				}
			}
			.hintLetter{
				height:30px;

				display: inline-block;
				font-size: 30px;
				margin-right:4px;
				line-height: 30px;
				padding:5px;
				width:18px;
				color:#676767;
				&.space{
					margin: 0px 3px;
				}
			}
		}
	}
	.undiscovered{
		color:#DB4437!important;
	}
}