@import 'styles/index.scss';

.home{
	// background:red;
	display: flex;
	flex:1;
	flex-direction: column;
	height:100vh;
	.section{
		display: flex;
		flex:1;
		align-items: center;
		justify-content: center;
	}
}
