.answersHeaderInner{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		opacity:0;
		transform: translateY(30px);
		transition: all 0.3s ease;
		padding: 0 20px 0px 20px;
		width:100%;
		max-height: 300px;
		height:100%;
		box-shadow: 0px 0px 20px rgba(0,0,0,0.3);	
		background:white;
		border-radius: 5px;
		.answersHeaderController{
			margin-top:-20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	// position: relative;
		.answerTitle{
			transition: all 0.3s ease;
			transform: translateY(50px);
			opacity:0.5;
			margin: 0px 5px 0 20px;
		}
		&.isAnimated{
			transform:translateY(0);
			opacity:1;
			.answerTitle{
				transform: translateY(0px);
			}
		}
		h4{
			color:#000;
		}
		.bonus{
			height:60px;
			margin-top:20px;
		}

		.answerPlayerName{
			margin-bottom:20px;
		}
		.emoji{
			margin-top:80px;
			font-size: 50px;
			opacity:0;
			transition: transform 0.3s ease;
			transform: translateY(50px);
			&.isVisible{
				opacity:1;
				transform: translateY(0px);
			}

		}
	}