.requireAudioContainer{
	position: fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background:rgba(255,255,255,0);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 120000000;
	transition:all 0.3s ease;

	.requireAudioInner{
		border-radius: 5px;
		padding: 40px 40px 60px 40px;
		text-align: center;
		background:white;
		box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
		transition:all 0.6s ease, opacity 0.3s ease;
			transform:scale(0);
			opacity:0;
		.explainer{
			color:#000;
			font-size: 30px;
			margin:20px 0 40px 0;
		}
	}
	&.isVisible{
		background:rgba(255,255,255,1);
		.requireAudioInner{
			transform:scale(1);
			opacity:1;
		}
	}
}