.hostPlayerContainer{
	position: relative;
	width:100px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin:10px;
	.playerCircle{
		overflow: hidden;
		min-width:100px;
		width:100px;
		height:100px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		color:white;
		font-size: 40px;
		.check{
			font-size: 65px;
		}
	}
	&.isDisconnected{
		.name{
			opacity:0.5;
		}
	}
	.score{
		color:#ddd;
		font-size: 25px;
	}
	.name{
		font-size: 25px;
		color:#000;
		font-weight:bold;
		width:100%;
		text-align: center;
	}
}
