.hostPlayerOuterContainer{
	margin:12px 20px 0 20px;
	display: block;
	max-height: 165px;
	position: relative;
	opacity:0;
	position:relative;
	height:0;
	// overflow: visible;
	
	&.isVisible{
		height:auto;
		opacity: 1;
	}
	.hostPlayerContainer{
		position: relative;
		width:80px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		&.large{
			margin-top:-150px;
		}
		&.hideName{
			margin-top:0;
		}
		.playerCircle{
			background-size: cover;
			background-position:center;
			overflow: hidden;
			min-width:80px;
			width:80px;
			height:80px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			&.disconnected{
				border:9px solid red;
			}
			&.large{
				box-shadow: 0 0 20px rgba(0,0,0,0.3);
				margin-bottom:20px;
				width:200px;
				height:200px;
			}
			p{
				color:white;
				font-size: 40px;
			}
			.check{
				font-size: 65px;
			}
		}
		&.isDisconnected{
			.name{
				opacity:0.2;
			}
		}
		.score{
			color:#000;
			font-size: 30px;
			margin-top:-30px;
		}
		.name{
			font-size: 30px;
			color:#000;
			font-weight:bold;
			width:100%;
			text-align: center;
		}
		&.large{
			min-width:150px!important;
			// margin: 12px 50px;
			.score{
				// margin-bottom: 20px;
			}
		}
	}
	&.isScores{
		.playerCircle{
			width:150px;
			height:150px;
		}
	}
	.playerDisplayedAnswerContainer{
		display: flex;
		align-items:center;
		justify-content: center;
		width:200px;
		margin:0!important;
		flex-direction: row;
		.playerDisplayedAnswer{
			text-align: center;
			font-size:30px;
			margin-right: 5px;
				color:#000;
			}
		}
		.thumbsup{
			margin-left:5px;
			font-size:30px;
		}
	}
	.hostLikesContainer{
		position:absolute;
		top:0;
		left:-25px;
		min-width:200px;
		max-width:200px;
		
		// background:red;
		height:200px;
	.hostLikeContainer{
		position: absolute;
		top:0;
		left:0;
		width:30px;
		height:30px;
		animation-name: like;
		animation-duration: 0.8s;
		animation-fill-mode: forwards;
		.thumbsup{
			font-size:50px;
		}
	}
	
}


.pointsContainer{
	position: absolute;
	width:30px;
	height:30px;
	
	top:-150px;
	left:20px;
	transform:translateY(-50px);

	.coin{
		font-size:100px;
		opacity:0;
	}
	.coin1{
		position:absolute;
		top:20px;
		left:20px;
		animation-name: coin1;
		animation-duration: 0.8s;
	}
	.coin2{
		position:absolute;
		top:20px;
		left:0px;
		animation-name: coin2;
		animation-duration: 0.8s;
	}
	.coin3{
		position:absolute;
		top:0px;
		left:10px;
		animation-name: coin3;		
		animation-duration: 0.8s;
	}
	&.large{	
		top:-50px;
		.coin{
			font-size:70px;
			opacity:0;
		}
		.coin1{
			
			top:40px;
			left:40px;
			
		}
		.coin2{
			
			top:40px;
			left:0px;
			
		}
		.coin3{
			
			top:0px;
			left:20px;
			
		}
	}

}

.mostLikedContainer{
	background:white;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	border-radius:50%;
	height:60px;
	width:60px;
	display: flex;
	align-items:center;
	justify-content: center;
	position: absolute;
	top:-10px;
	right:-30px;
	&:after{
		width:20px;
		height:30px;
		background:green;
		position:absolute;
		top:-20px;
		right:-20px;
	}
}


@keyframes coin1 {
  0%   {transform: translate(0);opacity:0;}
  50% {opacity:1;}
  100% {transform: translate(20px, -20px); opacity:1;}
}

@keyframes coin2 {
  0%   {transform: translate(0);opacity:0;}
  50% {opacity:1;}
  100% {transform: translate(-20px, -20px); opacity:1;}
}
@keyframes coin3 {
  0%   {transform: translateY(0);opacity:0;}
  50% {opacity:1;}
  100% {transform: translateY(-28px); opacity:1;}
}

@keyframes like {
  0%   {transform: translate(0, 0);opacity:0;}
  50% {opacity:1;}
  75% {transform: translate(0, -50px); opacity:1;}
  100% {transform: translate(0, -66px); opacity:0;}
}
